.search-bar {
    border: 1px, solid lightgray;
    border-radius: 5px;
    padding: 10px;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.search-bar form {
    display: flex;
    flex-direction: column;
}