.song {
  display: flex;
  align-items: center;
  padding: 10px;
}
.song:hover {
  background-color: rgb(38, 38, 38);
}

#album-cover {
  width: 50px;
  height: 50 px;
  margin-right: 10px;
}

#heart {
  width: 25px;
  height: 20px;
  padding-right: 25px;
}

.song-details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#song-index {
  flex: 0 0 30px;
  margin-right: 10px;
}

#song-title {
  margin-bottom: 5px;
  padding-left: 5px;
}

#song-artist {
  margin-top: 5px;
  color: darkgray;
  padding-left: 5px;
}

#song-duration {
  margin-left: auto;
  color: darkgray;
  padding-right: 15px;
}

.play-button {
  background-color: #b368be;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.play-button:hover {
  background-color: #8e5897;
}
